body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#banner-section{
    width: 100%;
    background-image: url(donate-today-main/images/download2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}
.text h1{
    font-size: 45px;
    color: #fff;
    margin: 0;
}
.text p{
    color: #fff;
    line-height: 28px;
    margin-bottom: 5%;
}
.Donate-Now-button{
    color: #fff;
    text-decoration: none;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
}

.flexible h1{
    font-size: 37px;
    color: #000;
    line-height: 20px;
}
.flexible p{
    color: #000;
    margin-bottom: 15px;
    line-height: 30px;
}
.Donate-price-list{
    display: flex;
    margin-top: 30px;
    margin-left: 15%;
}
.Donate-price-list div{
    background-color: rgba(211, 211, 211, 0.562);
    width: 130px;
    height: 90px;
    margin: 0 10px;
    padding-top: 20px;
    border-radius: 5px;
}
#active-item{
    border: 2px solid #ff6347;
    background-color: #FFEEEE;
}
.donate-now-input input{
    border: none;
    border: 1px solid #00000034;
    border-radius: 10px;
    display: block;
    width: 75%;
    margin: 5% 0 5% 12%; 
    padding: 2% 2%;
    text-align: center;
}
::placeholder{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
.service-list{
    display: flex;
    text-align: left;
    margin-top: 40px;
}
.single-service{
    padding: 50px 30px 20px ;
    margin-right: 30px;
    border-radius: 5px;
}
#our-service-one{
    background-color: rgba(79, 157, 166, 0.31);
}
#our-service-two{
    background-color: rgba(255, 89, 89, 0.31);
}
#our-service-three{
    background-color: rgba(255, 244, 214, 0.801);
}
.single-service h2, p{
    color: #000;
}

#help-people{
    background-image: url(donate-today-main/images/donation13.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px 0 0 0;
}
.helping-alert{
    padding: 8% 0;
    display: flex;
}
.helping-text-box{
    background-color: #fff;
    width: 50%;
    padding: 50px;
    text-align: left;
    box-shadow: 20px 20px tomato;
}
.helping-text-box h1{
    font-size: 30px;
}
.helping-text-box p{
    line-height: 30px;
    padding-bottom: 5%;
}
.helping-people-conuter{
    width: 60%;
    background-color: #fff;
    margin-left: 10%;
    text-align: left;
    padding: 30px;
}
.people-counter-list{
    display: flex;
    margin-left: 5%;
}
.single-counter{
    background-color: rgba(255, 89, 89, 0.712);
    box-shadow: 10px 10px 0px rgba(255, 89, 89, 0.31);
    width: 190px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0;
}
.single-counter h1{
    font-size: 28px;
}
.my-uptade-field{
    background-color: #FFF4D6;
    padding: 7% 0;
    margin-top: 30px;
    margin-bottom: 120px;
}
.my-uptade-field input{
    width: 35%;
    border: 1px solid #D9D9D9;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D9D9D9;
    display: inline-block;
    margin: 0;
    padding: 15px;
    text-align: left;
}
.my-uptade-field button{
    border: 1px solid tomato;
    background-color: tomato;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 14px 40px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -5px;
    color: #fff;
}

footer{
    background: #000;
    padding: 3% 0;
}
.footer-container{
    text-align: center;
}
.footer-container h1{
    color: tomato;
}

.footer-container p{
    margin: 0;
    color: #fff;
}